.login-div{
    background-color: #ccc;
    padding: 32px 16px;
    width: 50%;
    border-radius: 8px;
    margin: auto;
}

.form-title{
    display: block;
    font-size: 32px;
    padding: 16px;
    margin-bottom: 32px;
}

.col-30{
    float:left;
    width:30%;
    margin-bottom: 16px;
}

.col-70{
    float:left;
    width:70%;
    margin-bottom: 16px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


input[type='text'],input[type='password']{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid black;
}

input[type='text']:focus,input[type='password']:focus{
    border: 1px solid skyblue;
    box-shadow: 0 0 8px skyblue;
}

label{
    padding: 16px;
    font-size: 20px;
}

.alert-msg{
    margin-left: 16px;
    color: red;
    padding:8px 0;
}

input[type="submit"]{
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-left: 16px;
}

input[type="submit"]:hover{
    background-color: rgb(76, 56, 248);
    cursor: pointer;
}

.register-link{
    padding: 8px 0;
    float: right;
    margin-right: 8px;
}

@media screen and (max-width:1100px){
    .col-30{width: 100%;}
    .col-70{width: 100%}
    input[type="submit"]{margin-left: 0;}
    .login-div{width: 100%;}
}