
.header{
    padding: 10px;
    border-bottom: 3px solid orange;
    margin-bottom: 20px;
}

img{
    height: 50px;
    width: 100px;
}

img:hover{
    cursor: pointer;
}

button.auth-control{
    float: right;
    padding :10px;
    background-color: rgb(240, 160, 40);
    color:white;
    border-radius: 10%;
    margin-left: 8px;
    font-size: medium;
    font-weight: bold;
}

button.auth-control:hover{
    background-color: rgb(241, 125, 47);
    cursor: pointer;
}

.header-ruler{
    color: orange;
}